{% extends 'core/base.html' %}
{% load static %}
{% block title %}Events{% endblock %}
{% block background%} {% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}
{% block header %}
<h1>Detalle</h1>
<span class="subheading">Eventos</span>
{% endblock %}
{% block content %}
{% include 'events/includes/event_menu.html'%}
    <div class="row project">  	
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{{event.image.url}}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">{{event.title}}</h2>   
	        <div>
                {{event.description|safe}}
                    {% if request.user.is_staff %}
                        <p><a href="{% url 'events:update' event.id %}">Editar</a></p>
                    {% endif %}
            </div>      	
			</div>
	</div>
{% endblock %}